.container{
    width: 1200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;   
}

.min_height{
    min-height: 75%;
}